var {{.FileVar}} *os.File

func {{.InitFunc}}() {
    file := filepath.Join({{.ProjectRoot}}, "trace.out")
    f, err := os.Create(file)
    if err != nil {
        panic(err)
    }
    trace.Start(f)
    {{.FileVar}} = f
}

func {{.StopFunc}}() {
    trace.Stop()
    if err := {{.FileVar}}.Close(); err != nil {
        panic(err)
    }
}