var {{.FileVar}} *{{.PkgAliasOS}}.File

func {{.InitFunc}}() {
    file := {{.PkgAliasFILEPATH}}.Join({{.ProjectRoot}}, "trace.out")
    f, err := {{.PkgAliasOS}}.Create(file)
    if err != nil {
        panic(err)
    }
    {{.PkgAliasTRACE}}.Start(f)
    {{.FileVar}} = f
}

func {{.StopFunc}}() {
    {{.PkgAliasTRACE}}.Stop()
    if err := {{.FileVar}}.Close(); err != nil {
        panic(err)
    }
}