var {{.FileVar}} *os.File

func {{.InitFunc}}() {
    cwd, err := os.Getwd()
    if err != nil {
        panic(err)
    }
    dir := filepath.Join(cwd, "trace_data")
    if err := os.MkdirAll(dir, 0755); err != nil {
        panic(err)
    }
    f, err := os.Create(filepath.Join(dir, "trace.out"))
    if err != nil {
        log.Fatalln(err)
    }
    trace.Start(f)
    {{.FileVar}} = f
}

func {{.StopFunc}}() {
    trace.Stop()
    if err := {{.FileVar}}.Close(); err != nil {
        log.Fatalln(err)
    }
}